In [0]:
## Import numpy and panda libraries
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv('cells_geo.csv', delimiter = ';')
df

      Unnamed: 0       VILLES  ...     CELL_ID   SITE_CODE
0              0       ADJAME  ...  fbb2e75af3  0bb492ef17
1              1       ADJAME  ...  1502501d78  0bb492ef17
2              2       ADJAME  ...  0c2e182a0c  0bb492ef17
3              3      ASSINIE  ...  69bdfc69fd  8a1e6ce31f
4              4      ASSINIE  ...  7a1029d2ab  8a1e6ce31f
5              5      ASSINIE  ...  0b4f56438f  8a1e6ce31f
6              6     KRIKOREA  ...  041d2504f5  260dbfedc5
7              7        ABOBO  ...  a70c1d263b  56306cc7ca
8              8        ABOBO  ...  e2d04ea883  56306cc7ca
9              9        ABOBO  ...  ee224cd27e  56306cc7ca
10            10        ABOBO  ...  107d0d752c  56306cc7ca
11            11        ABOBO  ...  3f766cedc0  c1ccd3443b
12            12        ABOBO  ...  b0578cdb7f  c1ccd3443b
13            13        ABOBO  ...  18a4221316  c1ccd3443b
14            14        ABOBO  ...  1b2bccad1f  c1ccd3443b
15            15  BINGERVILLE  ...  60865ff87f  17899e217a
16            16  BINGERVILLE  ...  c1dc258dc9  17899e217a
17            17  BINGERVILLE  ...  377ee76a7e  17899e217a
18            18      PLATEAU  ...  46185e38ee  aaca2668a7
19            19      PLATEAU  ...  ddb6bc11df  aaca2668a7
20            20      PLATEAU  ...  c4d2b0444b  aaca2668a7
21            21       ADJAME  ...  fa307adc83  92d827bd96
22            22       ADJAME  ...  4ddfebaf66  92d827bd96
23            23        ABOBO  ...  f740406877  0f34c36ac5
24            24        ABOBO  ...  959e54c8f7  0f34c36ac5
25            25        ABOBO  ...  56b7e7000c  0f34c36ac5
26            26        ABOBO  ...  bc51c17a6f  0f34c36ac5
27            27        ABOBO  ...  e460975c9f  0f34c36ac5
28            28        ABOBO  ...  2d125e9a95  0f34c36ac5
29            29        ABOBO  ...  7cf207ef76  7430461f18
...          ...          ...  ...         ...         ...
3944        3944      ZIKISSO  ...  733df73327  211015b14d
3945        3945      ZIKISSO  ...  68d05744d3  211015b14d
3946        3946      ZIKISSO  ...  98a71b5af2  211015b14d
3947        3947      ZIKISSO  ...  0da64daa69  211015b14d
3948        3948    SAN-PEDRO  ...  ac56822a9d  5d5b23bfed
3949        3949    SAN-PEDRO  ...  6111cb30ce  5d5b23bfed
3950        3950    SAN-PEDRO  ...  fb19b442de  5d5b23bfed
3951        3951    SAN-PEDRO  ...  4df12fefc8  5d5b23bfed
3952        3952    SAN-PEDRO  ...  181a669a32  5d5b23bfed
3953        3953    SAN-PEDRO  ...  d32f225c10  5d5b23bfed
3954        3954      MARCORY  ...  d773723e54  1ff98189c8
3955        3955      MARCORY  ...  291db4f1d7  1ff98189c8
3956        3956      MARCORY  ...  93fcafebca  1ff98189c8
3957        3957      MARCORY  ...  32dbfb021a  1ff98189c8
3958        3958      MARCORY  ...  71d9ff904d  1ff98189c8
3959        3959      MARCORY  ...  bbdd523132  1ff98189c8
3960        3960  ZON-HOUNIEN  ...  a3e5534191  32b8357a82
3961        3961  ZON-HOUNIEN  ...  73dbd423db  32b8357a82
3962        3962  ZON-HOUNIEN  ...  ff3bdca4e3  32b8357a82
3963        3963   ZOUKOUGBEU  ...  317ba2e3e8  443ac3fc19
3964        3964   ZOUKOUGBEU  ...  eee63aed85  443ac3fc19
3965        3965   ZOUKOUGBEU  ...  7ec11bd65b  443ac3fc19
3966        3966      MARCORY  ...  eb76e06e8e  6daf54117b
3967        3967      MARCORY  ...  e3d9d0ca54  6daf54117b
3968        3968     ZUENOULA  ...  dcd3a41af8  f91ed8d2e9
3969        3969     ZUENOULA  ...  1cfc2d7ab1  f91ed8d2e9
3970        3970     ZUENOULA  ...  3ae1708153  f91ed8d2e9
3971        3971     ZUENOULA  ...  cb71f8a29c  61bee9c70c
3972        3972     ZUENOULA  ...  d4a6a0b645  61bee9c70c
3973        3973     ZUENOULA  ...  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [0]:
df2 = pd.read_csv('MoringaSchool_CB_CDR_20120507.csv', delimiter = ',')
df2

       PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1          sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2          sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3        Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4        Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5         data      0  2012-05-06 23:07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6        Voice      0  2012-05-06 23:08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7        Voice      0  2012-05-06 23:08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8        Voice      0  2012-05-06 23:08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9          sms      0  2012-05-06 23:08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89
10         sms      0  2012-05-06 23:08:50.0  ...     19e2e  0Fmr/IZtQ+  0Fmr/IZtQ+
11         sms      0  2012-05-06 23:09:12.0  ...     19e2e  0MZBLLzPYZ  0MZBLLzPYZ
12         sms      0  2012-05-06 23:09:13.0  ...     19e2e  0//cZOoEXj  0//cZOoEXj
13         sms     25  2012-05-06 23:09:16.0  ...     19e2e  2dmu2Iy1CX  2dmu2Iy1CX
14       Voice      0  2012-05-06 23:09:26.0  ...     19e2e  0Fmr/IZtQ+  0Fmr/IZtQ+
15       Voice      0  2012-05-06 23:09:51.0  ...     19e2e  176sGHv7Ym  176sGHv7Ym
16       Voice     44  2012-05-06 23:09:54.0  ...     19e2e  ++ctND+jGD  ++ctND+jGD
17       Voice      0  2012-05-06 23:09:59.0  ...     19e2e  1JODMow6DN  1JODMow6DN
18         sms      0  2012-05-06 23:10:05.0  ...     19e2e  2PbwFG2K9y  2PbwFG2K9y
19       Voice     14  2012-05-06 23:10:23.0  ...     19e2e  2GgIN622rt  2GgIN622rt
20        data      0  2012-05-06 23:10:30.0  ...     OTHER  /vLAMOS+Qm  /vLAMOS+Qm
21         sms      0  2012-05-06 23:10:41.0  ...     19e2e  2dmu2Iy1CX  2dmu2Iy1CX
22         sms     50  2012-05-06 23:11:14.0  ...     19e2e  2FzOAUm82C  2FzOAUm82C
23        data      0  2012-05-06 23:11:27.0  ...     OTHER  2yuhUrSXQu  2yuhUrSXQu
24       Voice      0  2012-05-06 23:11:27.0  ...     19e2e  3mQAiRAfo7  3mQAiRAfo7
25        data      0  2012-05-06 23:12:07.0  ...     OTHER  2FzOAUm82C  2FzOAUm82C
26       Voice      0  2012-05-06 23:12:10.0  ...     19e2e  +gySf02tKW  +gySf02tKW
27       Voice     19  2012-05-06 23:12:25.0  ...     19e2e  /EkqCbWDau  /EkqCbWDau
28         sms     25  2012-05-06 23:12:25.0  ...     19e2e  /kxqxDGV0Z  /kxqxDGV0Z
29         sms      0  2012-05-06 23:12:36.0  ...     19e2e  4K++Px614U  4K++Px614U
...        ...    ...                    ...  ...       ...         ...         ...
273889   Voice     18  2012-05-07 04:52:14.0  ...     19e2e  885037e317  a7bd4c027b
273890   Voice    199  2012-05-07 04:52:14.0  ...     19e2e  d5630e30fe  5bd7fea63c
273891   Voice     48  2012-05-07 04:52:14.0  ...     19e2e  6d374a471c  95b4afcbc7
273892    data      0  2012-05-07 04:52:14.0  ...     OTHER  ffa6759bb2         NaN
273893   Voice     50  2012-05-07 04:52:14.0  ...     19e2e  f82cf7738e  480d936833
273894   Voice     60  2012-05-07 04:52:14.0  ...     19e2e  3f4af49d6c  969b8d0e39
273895     sms      0  2012-05-07 04:52:15.0  ...     19e2e  c2d88a2158  b19fd73af1
273896   Voice     12  2012-05-07 04:52:15.0  ...     19e2e  9fdd6297cc  644d9f790b
273897    data      0  2012-05-07 04:52:15.0  ...     OTHER  ffa6759bb2         NaN
273898    data      0  2012-05-07 04:52:15.0  ...     OTHER  ffa6759bb2         NaN
273899   Voice     27  2012-05-07 04:52:15.0  ...     19e2e  9879497070  6e87d6cb59
273900     sms      0  2012-05-07 04:52:15.0  ...     OTHER  f54e480df9  928a59b635
273901     sms      0  2012-05-07 04:52:15.0  ...     19e2e  cc7ce19d6b  b47a998a3e
273902     sms     50  2012-05-07 04:52:15.0  ...     19e2e  387672a698  d1809b909f
273903   Voice     12  2012-05-07 04:52:15.0  ...     19e2e  9fdd6297cc  644d9f790b
273904     sms     25  2012-05-07 04:52:16.0  ...     19e2e  0052aee4c6  f222e7c57c
273905    data      0  2012-05-07 04:52:16.0  ...     OTHER  ffa6759bb2         NaN
273906   Voice      3  2012-05-07 04:52:16.0  ...     19e2e  db03a198b7  3ae1708153
273907   Voice      0  2012-05-07 04:52:16.0  ...     19e2e  059087166b  c06620882a
273908    data      0  2012-05-07 04:52:16.0  ...     OTHER  ffa6759bb2         NaN
273909    data      0  2012-05-07 04:52:16.0  ...     OTHER  ffa6759bb2         NaN
273910   Voice     11  2012-05-07 04:52:16.0  ...     19e2e  dfc6d54521  c9d8e4cdf1
273911   Voice      0  2012-05-07 04:52:16.0  ...     19e2e  42f7c74041  1ed7b897b7
273912     sms      0  2012-05-07 04:52:16.0  ...     OTHER  04b6fa5555  a2f0769f63
273913   Voice     19  2012-05-07 04:52:16.0  ...     19e2e  0a01c94258  62618367e3
273914   Voice      0  2012-05-07 04:52:16.0  ...     19e2e  54a4c16599  a64fc672f1
273915     sms      0  2012-05-07 04:52:16.0  ...     19e2e  117024cabb  24ccdda3d5
273916   Voice      0  2012-05-07 04:52:17.0  ...     19e2e  2326013eb9  43a3260fc9
273917   Voice     16  2012-05-07 04:52:17.0  ...     19e2e  ec301f6f3a  22389546ec
273918   Voice      0  2012-05-07 04:52:17.0  ...       NaN         NaN         NaN

[273919 rows x 10 columns]

In [0]:
df1 = pd.read_csv('MoringaSchool_CB_CDR_20120508.csv', delimiter = ',')
df1

      PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0         sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1       Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2         sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3       Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4         sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
5         sms      0  2012-05-07 23:05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
6       Voice     41  2012-05-07 23:06:14.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
7       Voice     11  2012-05-07 23:06:28.0  ...     19e2e  +gySf02tKW  +gySf02tKW
8         sms      0  2012-05-07 23:06:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
9         sms      0  2012-05-07 23:06:50.0  ...     19e2e  0ecjmwPX21  0ecjmwPX21
10        sms      0  2012-05-07 23:06:58.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
11        sms      0  2012-05-07 23:06:58.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
12        sms      0  2012-05-07 23:07:02.0  ...     19e2e  +YzQI97cPp  +YzQI97cPp
13        sms      0  2012-05-07 23:07:03.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
14        sms      0  2012-05-07 23:07:23.0  ...     19e2e  0BRdojv2my  0BRdojv2my
15        sms      0  2012-05-07 23:07:51.0  ...     19e2e  +e+xcimwre  +e+xcimwre
16        sms      0  2012-05-07 23:08:09.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
17        sms     25  2012-05-07 23:08:14.0  ...     19e2e  +gQ2AvXjaO  +gQ2AvXjaO
18      Voice      0  2012-05-07 23:08:16.0  ...     19e2e  /0LopuZdd7  /0LopuZdd7
19        sms      0  2012-05-07 23:08:32.0  ...     19e2e  0BRdojv2my  0BRdojv2my
20       data      0  2012-05-07 23:08:53.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
21        sms      0  2012-05-07 23:09:33.0  ...     19e2e  +pZNtCvhmT  +pZNtCvhmT
22      Voice      0  2012-05-07 23:09:45.0  ...     19e2e  +YzQI97cPp  +YzQI97cPp
23        sms      0  2012-05-07 23:09:50.0  ...     19e2e  +854AcBQT2  +854AcBQT2
24        sms      0  2012-05-07 23:09:56.0  ...     19e2e  +e+xcimwre  +e+xcimwre
25      Voice      0  2012-05-07 23:10:13.0  ...     19e2e  +pZNtCvhmT  +pZNtCvhmT
26        sms      0  2012-05-07 23:10:36.0  ...     19e2e  2aXXOLyR5M  2aXXOLyR5M
27        sms      0  2012-05-07 23:10:37.0  ...     19e2e  0r4EVaG2A/  0r4EVaG2A/
28        sms      0  2012-05-07 23:11:45.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
29      Voice      0  2012-05-07 23:11:50.0  ...     19e2e  1BFUFggilV  1BFUFggilV
...       ...    ...                    ...  ...       ...         ...         ...
21702    data      0  2012-05-08 00:08:16.0  ...     OTHER  ffa6759bb2         NaN
21703    data      0  2012-05-08 00:08:16.0  ...     OTHER  ffa6759bb2         NaN
21704   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  7197a69092  7fa72a1ee3
21705   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  6e9b1a069d  dbc25a6658
21706   Voice    108  2012-05-08 00:08:16.0  ...     19e2e  d1f514485d  dac8dcaeb9
21707   Voice    200  2012-05-08 00:08:16.0  ...     19e2e  985a02d2d5  2371f0c1df
21708   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  f892fac747  83a405ef9c
21709   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  437de362db  4df1cab780
21710   Voice     18  2012-05-08 00:08:16.0  ...     19e2e  79d9de4b75  9bd6022e07
21711   Voice     39  2012-05-08 00:08:16.0  ...     19e2e  0ff4f68649  d8682c35fc
21712   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  08f8e08287  6cdf1d4b52
21713   Voice     90  2012-05-08 00:08:16.0  ...     19e2e  3726aba506  ab91f5b21d
21714   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  2ff9d4485e  51dcba5778
21715   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  cb77555946  e04667f9c7
21716   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  8fa574fcab  56dfa8c5b0
21717     sms      0  2012-05-08 00:08:16.0  ...     19e2e  c565d3f89f  2a61d9a98c
21718   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  4c86d8a421  b07f9bb851
21719   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  d6f70d63cd  2f502776ef
21720     sms      0  2012-05-08 00:08:16.0  ...     19e2e  60ff7f96ca  ed88cb7fd3
21721     sms      0  2012-05-08 00:08:16.0  ...     19e2e  34ac6e4be2  7bb5edf329
21722     sms      0  2012-05-08 00:08:16.0  ...     19e2e  14f72fc8bd  ebfc58af70
21723     sms      0  2012-05-08 00:08:16.0  ...     19e2e  af9dce19ee  ad67d8727e
21724     sms      0  2012-05-08 00:08:16.0  ...     19e2e  52be6e498e  2c0cbe7cc1
21725   Voice      0  2012-05-08 00:08:16.0  ...     19e2e  cd828df0e4  c07a544c63
21726     sms      0  2012-05-08 00:08:16.0  ...     19e2e  0177e542be  106b035cb6
21727   Voice     52  2012-05-08 00:08:16.0  ...     19e2e  15bdb525ee  6e9b544976
21728     sms      0  2012-05-08 00:08:16.0  ...     19e2e  dc94241727  ad67d8727e
21729   Voice     39  2012-05-08 00:08:16.0  ...     19e2e  1bbd2d834d  2802d8247a
21730     sms      0  2012-05-08 00:08:16.0  ...     19e2e  486a9ec424  3ee7a51169
21731     sms     25  2012-05-08 00:08:16.0  ...     19e2e   43ac8042f         NaN

[21732 rows x 10 columns]

In [0]:
df3 = pd.read_csv('MoringaSchool_CB_CDR_20120509.csv', delimiter = ',')
df3

        PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0         Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1           sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2         Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3           sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4         Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5         Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre
6           sms      0  2012-05-08 23:06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7         Voice     10  2012-05-08 23:06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
8           sms     25  2012-05-08 23:07:09.0  ...     19e2e  13O1+JEun3  13O1+JEun3
9           sms      0  2012-05-08 23:07:38.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
10          sms      0  2012-05-08 23:07:43.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
11          sms      0  2012-05-08 23:07:55.0  ...     19e2e  /NPTR0H+5I  /NPTR0H+5I
12          sms      0  2012-05-08 23:08:15.0  ...     19e2e  18MlD9e2CO  18MlD9e2CO
13          sms      0  2012-05-08 23:08:19.0  ...     19e2e  0K+IDi1yjl  0K+IDi1yjl
14          sms      0  2012-05-08 23:08:24.0  ...     19e2e  2GgIN622rt  2GgIN622rt
15          sms     50  2012-05-08 23:08:49.0  ...     19e2e  051KhYDCpv  051KhYDCpv
16        Voice     14  2012-05-08 23:09:03.0  ...     19e2e  2aXXOLyR5M  2aXXOLyR5M
17        Voice      0  2012-05-08 23:09:04.0  ...     19e2e  /lW1z7T9L8  /lW1z7T9L8
18         data      0  2012-05-08 23:09:24.0  ...     OTHER  /EkqCbWDau  /EkqCbWDau
19         data      1  2012-05-08 23:09:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
20        Voice      6  2012-05-08 23:09:40.0  ...     19e2e  0eA3S0GqHt  0eA3S0GqHt
21         data      0  2012-05-08 23:09:43.0  ...     OTHER  /0LopuZdd7  /0LopuZdd7
22          sms      0  2012-05-08 23:09:47.0  ...     19e2e  0UFkHqX87G  0UFkHqX87G
23          sms     25  2012-05-08 23:09:48.0  ...     19e2e  2q0YsSCxbH  2q0YsSCxbH
24          sms      0  2012-05-08 23:10:16.0  ...     19e2e  1MTLUFpdzd  1MTLUFpdzd
25        Voice      0  2012-05-08 23:10:18.0  ...     19e2e  0/eYPFomxx  0/eYPFomxx
26          sms     25  2012-05-08 23:10:19.0  ...     19e2e  ++ctND+jGD  ++ctND+jGD
27         data      1  2012-05-08 23:10:20.0  ...     OTHER  ++ctND+jGD  ++ctND+jGD
28          sms      0  2012-05-08 23:10:58.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
29        Voice      0  2012-05-08 23:11:04.0  ...     19e2e  18iJZATMMC  18iJZATMMC
...         ...    ...                    ...  ...       ...         ...         ...
1027198     sms      0  2012-05-09 07:47:35.0  ...     19e2e  5514f1fa33  7372a1c37c
1027199     sms      0  2012-05-09 07:47:35.0  ...     19e2e  a2d402a6b3  6d70dae094
1027200     sms      0  2012-05-09 07:47:35.0  ...     19e2e  60339d459f  e1a3687210
1027201     sms      0  2012-05-09 07:47:35.0  ...     19e2e  5ad06929ed  461e5f4a50
1027202     sms      0  2012-05-09 07:47:35.0  ...     19e2e  f361b0d47e  bee752ed00
1027203     sms      0  2012-05-09 07:47:35.0  ...     19e2e  a9cf96eff4  faa92c87d9
1027204     sms      0  2012-05-09 07:47:35.0  ...     19e2e  eb9d8be3a4  b7aa3c28bb
1027205     sms      0  2012-05-09 07:47:35.0  ...     19e2e  1bbd2d834d  2802d8247a
1027206     sms      0  2012-05-09 07:47:35.0  ...     19e2e  d468bcca31  d4b46cdec7
1027207     sms      0  2012-05-09 07:47:35.0  ...     19e2e  a7995d5b67  f3c2363885
1027208     sms      0  2012-05-09 07:47:35.0  ...     19e2e  0b3f472b4d  fe91ac057a
1027209     sms      0  2012-05-09 07:47:35.0  ...     19e2e  0bb30f4eb8  7ee1a1444f
1027210     sms      0  2012-05-09 07:47:35.0  ...     19e2e  3fddd026bf  ec36e9bdac
1027211     sms      0  2012-05-09 07:47:35.0  ...     19e2e  15091cf593  c15166ba4d
1027212     sms      0  2012-05-09 07:47:35.0  ...     19e2e  34ac6e4be2  7bb5edf329
1027213     sms     50  2012-05-09 07:47:35.0  ...     19e2e  ab68996d93  47657c9634
1027214     sms      0  2012-05-09 07:47:35.0  ...     19e2e  b42d04b0d7  9ef9616350
1027215     sms      0  2012-05-09 07:47:35.0  ...     19e2e  7e069ea2c0  c1ec9c885f
1027216     sms      0  2012-05-09 07:47:35.0  ...     19e2e  c88ed23334  b75ffebb1c
1027217     sms     25  2012-05-09 07:47:35.0  ...     19e2e  0dee62a700  8ef66f718c
1027218     sms      0  2012-05-09 07:47:35.0  ...     19e2e  fc91429329  a38efdcc21
1027219     sms      0  2012-05-09 07:47:35.0  ...     19e2e  ff23b2efcb  ea07812c27
1027220     sms      0  2012-05-09 07:47:35.0  ...     19e2e  3ac5beb8f8  65efe2bc62
1027221     sms      0  2012-05-09 07:47:35.0  ...     19e2e  98ed726da2  b4130b54ab
1027222   Voice     48  2012-05-09 07:47:35.0  ...     19e2e  00dde6cc1a  faa92c87d9
1027223   Voice      0  2012-05-09 07:47:35.0  ...     19e2e  88a4a4b31b  7e46936864
1027224   Voice     19  2012-05-09 07:47:35.0  ...     19e2e  553b77a64b  f8c04693e1
1027225   Voice     13  2012-05-09 07:47:35.0  ...     19e2e  63a351808a  daa1671776
1027226   Voice     60  2012-05-09 07:47:35.0  ...     19e2e  846a0ea574  113d5b7f72
1027227   Voice      2  2012-05-09 07:47:35.0  ...       NaN         NaN         NaN

[1027228 rows x 10 columns]

In [0]:
df4 = pd.read_excel('CDR_description.xlsx')
df4

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [0]:
df5 = pd.read_excel('cells_geo_description.xlsx')
df5

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [0]:
df2.rename(columns={'PRODUTC': 'PRODUCT'}, inplace=True)
df2.head()

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [0]:
df3.rename(columns={'SIET_ID': 'SITE_ID'}, inplace=True)
df3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [0]:
df1.rename(columns={'DW_A_NUMBER': 'DW_A_NUMBER_INT', 'DW_B_NUMBER': 'DW_B_NUMBER_INT'}, inplace=True)
df1.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [0]:
df3.rename(columns={'CELLID': 'CELL_ID'}, inplace=True)
df3.head(1)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx

[1 rows x 10 columns]

In [0]:
df2.rename(columns={'DATETIME': 'DATE_TIME'}, inplace=True)
df2.head(1)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu

[1 rows x 10 columns]

In [0]:
# counterchecking the columns rename  codes
df2.head(0)

Empty DataFrame
Columns: [PRODUCT, VALUE, DATE_TIME, CELL_ON_SITE, DW_A_NUMBER_INT, DW_B_NUMBER_INT, COUNTRY_A, COUNTRY_B, CELL_ID, SITE_ID]
Index: []

In [0]:
df3.head(0)

Empty DataFrame
Columns: [PRODUCT, VALUE, DATE_TIME, CELL_ON_SITE, DW_A_NUMBER_INT, DW_B_NUMBER_INT, COUNTRY_A, COUNTRY_B, CELL_ID, SITE_ID]
Index: []

In [0]:
df1.head(0)

Empty DataFrame
Columns: [PRODUCT, VALUE, DATE_TIME, CELL_ON_SITE, DW_A_NUMBER_INT, DW_B_NUMBER_INT, COUNTRY_A, COUNTRY_B, CELL_ID, SITE_ID]
Index: []

In [0]:
#getting info abt the types and attributes of a given datsets for data understanding
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21732 entries, 0 to 21731
Data columns (total 10 columns):
PRODUCT            21732 non-null object
VALUE              21732 non-null int64
DATE_TIME          21732 non-null object
CELL_ON_SITE       21732 non-null object
DW_A_NUMBER_INT    21732 non-null object
DW_B_NUMBER_INT    21732 non-null object
COUNTRY_A          21732 non-null object
COUNTRY_B          21732 non-null object
CELL_ID            21732 non-null object
SITE_ID            19162 non-null object
dtypes: int64(1), object(9)
memory usage: 1.7+ MB

In [0]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273919 entries, 0 to 273918
Data columns (total 10 columns):
PRODUCT            273919 non-null object
VALUE              273919 non-null int64
DATE_TIME          273919 non-null object
CELL_ON_SITE       273919 non-null object
DW_A_NUMBER_INT    273919 non-null object
DW_B_NUMBER_INT    273918 non-null object
COUNTRY_A          273918 non-null object
COUNTRY_B          273918 non-null object
CELL_ID            273918 non-null object
SITE_ID            217776 non-null object
dtypes: int64(1), object(9)
memory usage: 20.9+ MB

In [0]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027228 entries, 0 to 1027227
Data columns (total 10 columns):
PRODUCT            1027228 non-null object
VALUE              1027228 non-null int64
DATE_TIME          1027228 non-null object
CELL_ON_SITE       1027228 non-null object
DW_A_NUMBER_INT    1027228 non-null object
DW_B_NUMBER_INT    1027227 non-null object
COUNTRY_A          1027227 non-null object
COUNTRY_B          1027227 non-null object
CELL_ID            1027227 non-null object
SITE_ID            938112 non-null object
dtypes: int64(1), object(9)
memory usage: 78.4+ MB

In [0]:
#creation of dataframes for the databases
#
df2_d= pd.DataFrame(df2)
df2_d.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [0]:
df1_d = pd.DataFrame(df2)
df1_d.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [0]:
df3_d = pd.DataFrame(df3)
df3_d.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [0]:
#Concatination of all the dataframes 
con = pd.concat([df1_d, df2_d, df3_d])
con = con.reset_index(drop=True)
con.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [0]:
con[['DATE', 'TIME']] = con.DATE_TIME.str.split(expand=True)
con.head()

  PRODUCT  VALUE              DATE_TIME  ...     SITE_ID        DATE        TIME
0   Voice      0  2012-05-06 23:04:37.0  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms      0  2012-05-06 23:05:25.0  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms     25  2012-05-06 23:05:41.0  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice     56  2012-05-06 23:05:42.0  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice     14  2012-05-06 23:06:29.0  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 12 columns]

In [0]:
# due to their being a a separate date and time column the date_time is no longer necessary
del con['DATE_TIME']
con.head()

  PRODUCT  VALUE CELL_ON_SITE  ...     SITE_ID        DATE        TIME
0   Voice      0            1  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms      0            0  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms     25            0  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice     56            1  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice     14            1  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 11 columns]

In [0]:
#grouping the  products columns to find most used product
con.VALUE.groupby(con["PRODUCT"]).sum()

PRODUCT
Voice    34346877
data       695214
sms       1743201
Name: VALUE, dtype: int64

In [0]:
##
con.columns = map(str.lower, con.columns)
con.head()

  product  value cell_on_site  ...     site_id        date        time
0   Voice      0            1  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms      0            0  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms     25            0  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice     56            1  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice     14            1  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 11 columns]

In [0]:
##
df.isnull().values.any()

True

In [0]:
#itirating through the columns
df.isnull().sum()

Unnamed: 0       0
VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
LONGITUDE        0
LATITUDE         0
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

In [0]:
!git

usage: git [--version] [--help] [-C <path>] [-c <name>=<value>]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]
           [-p | --paginate | --no-pager] [--no-replace-objects] [--bare]
           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]
           <command> [<args>]

These are common Git commands used in various situations:

start a working area (see also: git help tutorial)
   clone      Clone a repository into a new directory
   init       Create an empty Git repository or reinitialize an existing one

work on the current change (see also: git help everyday)
   add        Add file contents to the index
   mv         Move or rename a file, a directory, or a symlink
   reset      Reset current HEAD to the specified state
   rm         Remove files from the working tree and from the index

examine the history and state (see also: git help revisions)
   bisect     Use binary search to find the commit that introduced a bug
   grep       Print lines matching a pattern
   log        Show commit logs
   show       Show various types of objects
   status     Show the working tree status

grow, mark and tweak your common history
   branch     List, create, or delete branches
   checkout   Switch branches or restore working tree files
   commit     Record changes to the repository
   diff       Show changes between commits, commit and working tree, etc
   merge      Join two or more development histories together
   rebase     Reapply commits on top of another base tip
   tag        Create, list, delete or verify a tag object signed with GPG

collaborate (see also: git help workflows)
   fetch      Download objects and refs from another repository
   pull       Fetch from and integrate with another repository or a local branch
   push       Update remote refs along with associated objects

'git help -a' and 'git help -g' list available subcommands and some
concept guides. See 'git help <command>' or 'git help <concept>'
to read about a specific subcommand or concept.